@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE DARK MODE RESET */
body {
  background-color: #020617;
  /* slate-950 */
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}